<ion-header>

  <ion-navbar>
    <ion-title>{{tryout.name}} tryout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="players-list">
    <ion-item-sliding *ngFor="let player of playersList">
      <ion-item (click)="openPlayerDetails(player)">
        <ion-avatar item-start>
          <img src="{{player.image || 'assets/imgs/player_ph.png'}}" onError="src = 'assets/imgs/player_ph.png'">
        </ion-avatar>
        <ion-row align-items-center>
          <div class="player-item-first-block">
            <h2>{{player.name}}</h2>
            <p>{{player.position}}</p>
          </div>
          <div class="player-item-second-block">
            <p>Age: {{player.age}}</p>
            <p>Shirt: {{player.shirt}}</p>
          </div>
        </ion-row>
      </ion-item>
      <ion-item-options side="right" *ngIf="tryout.status === 'opened'">
        <button ion-button color="secondary" (click)="openPlayerDetails(player)">
          <ion-icon name="open"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="removePlayer(player)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer *ngIf="tryout.status === 'opened'">
  <ion-row padding-horizontal>
    <ion-col col-6>
      <button ion-button block (click)="createPlayer()">Add player</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="danger" (click)="closeTryout()" block >Close tryout</button>
    </ion-col>
  </ion-row>
</ion-footer>
