<ion-header>

  <ion-navbar>
    <ion-title *ngIf="mode === 'create'">Add Player</ion-title>
    <ion-title *ngIf="mode === 'edit'">Edit Player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>
    <ion-item text-center>
      <img name="image" (tap)="captureImage()" width="150" height="150"
               [src]="player.image ? player.image : 'assets/imgs/player_ph.png'" onError="src = 'assets/imgs/player_ph.png'"/>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" required [(ngModel)]="player.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Age</ion-label>
      <ion-input type="number" [(ngModel)]="player.age" name="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Shirt</ion-label>
      <ion-input type="number" [(ngModel)]="player.shirt" name="shirt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Position</ion-label>
      <ion-select [(ngModel)]="player.position" name="position">
        <ion-option *ngFor="let position of positions" [value]="position">{{position}}</ion-option>
      </ion-select>
    </ion-item>
    <div padding>
      <button ion-button type="submit" block>Save</button>
      <button ion-button color="danger" (click)="removePlayer()" *ngIf="mode === 'edit'" block>Delete record</button>
      <button ion-button color="light" (click)="cancelEditing()" block>Cancel</button>
    </div>
  </form>

</ion-content>
